.sidebar-nav > ul > li a.section-link,
.app-nav a {
  /* font-weight: bold; */
  /* font-size: 18px; */
}

.sidebar-nav  li a.section-link {
   text-decoration: none;
}

.app-name .app-name-link {
  font-size: 22px;
  font-weight: bold;
}

.cover-main  img {
  width: 100px;
}

.sidebar .active > a {
  color: #42b983;
  font-size: 16px;
  font-weight: bold;
}

.sidebar ul li.active > a {
  font-weight: normal;
} 